@{
    ViewBag.Title = "MarketsInterna";
}
@section featured{
    @*Anzeigen der Login/Logoutbuttons*@
    <div>
        @if (Request.IsAuthenticated)
        {
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Abmelden", "Logout", "Account")
        }
        else
        {            
            @Html.ActionLink("Anmelden", "Login", "Account")
        }
    </div>     
}