@{
    ViewBag.Title = "LiselottesGewandung";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    Textteil
                    <nav class="content-wrapper">
                        @Html.ActionLink("zurück", "OfferIndex", "Offer")<br />
                    </nav>
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
