@{
    ViewBag.Title = "MedivalManufactoring";
}

    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>                
                <p>

                    <nav class="menu2" , style="margin-right: 50px">
                        Die Spinnerey
                    </nav>
                    Die wohl bekannteste Art, Stoffe herzustellen besteht darin, Schafe zuscheren, und die Wolle zu spinnen.
                    Auf Wunsch zeigt Liselotte wie im mittelalter mit der Handspindel Wolle hergestellt wurde.
                    Dabei wird Rohwolle zunächst gewaschen, gegebenenfalls gefärbt und anschließend kardiert. 
                    Beim Kardieren werden wie Wollfasern in eine Richtung gekämmt, wodurch das spätere Spinnen erleichtert wird.
                    Sind die Rohwollfasern gleichmäßig in eine Richtung ausgerichtet, spricht man von einem Wollflies, aus dem dann der Faden gesponnen wird.
                    Mehrere Wollfäden werden zum schluss zu einem Garn verzwirnt und anschließen am Webstuhl zu Stoffen verwebt.
                    <br />
                    <br />
                    Gern dürfen sich Marktbesucher zu mir gesellen und sich an diesem alten Handwerk versuchen. 
                    Ich erkläre die einzelnen Schritte und führe das spinnen gerne vor.
                    Ich spinne seit August 2015 mit der Handyspindel, seit Dezember 2015 am Spinnrad. (Liselotte von Zellrudndorff)
                    <br />
                    <br />

                    <nav class="menu2", style="margin-right: 50px">
                        Die Näherey
                    </nav>
                    Mittelalterliche Kleidung wuchs nicht einfach auf Bäumen, sondern musste in langwieriger Handarbeit 


                    
                    <nav class="content-wrapper">
                        @Html.ActionLink("zurück", "OfferIndex", "Offer")<br />
                    </nav>
                </p>
            </div>
        </section>
    }

