@{
    ViewBag.Title = "De Galgnvegl zu Chemnitz";
}

<h2>@ViewBag.Message</h2>

<p>
    <span class="label">Nach §5 TMG</span> <br />
    <span>
        De Galgnvegl zu Chemntz <br />
        Schulstr. 25 <br />
        09125 Chemnitz <br /><br />
    </span>
    <span>
        <i>Vertreten durch:</i><br />
        Hier Name einfügen<br /><br />
        <i>Kontakt:</i><br />
        Telefon: <br />
        E-Mail: <br /><br />
    </span>
    <span>
        <i>Registereintrag:</i><br />
        Eintragung ins Handelsregister????<br />
        Registergericht: ???<br />
        Registernummer: ????<br /><br />
    </span>
    <span>
        <i>Umsatzsteuer-ID</i><br />
        Umsatzsteuer-Identifikationnummer laut §27 a Umsatzsteuergesetz:<br />
        Hier Nummer einfügen<br /><br />
    </span>
    <span class="label">Für den Inhalt verantwortlich nach §55 RStV:</span><br />
    <span>
        Luisa Enders<br />
        Schulstr. 25<br />
        09125 Chemnitz<br /><br />
    </span>


</p>


