@{
    ViewBag.Title = "LiselotteVonZellrudndorff";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    Mein Name ist Liselotte von Zellrudndurff. In dem kleinen thüringischen Zellrudndurff wurde ich mit einem bürgerlichen Namen geboren. Mit der Aussicht auf eine gute Heirat zog ich in Begleitung die Stadt.
                    Doch mein Unglück war vorprogrammiert.  Um mir die Zeit zu vertreiben, begann ich Kleidung zu nähen und auf dem städtischen Markt feil zu bieten. So gelang es mir, obwohl meine Familie nicht wohlhabend ist, ein wenig Geld anzusparen.
                    <br />Aber es dauerte nicht lange, bis Neid in mein Umfeld einzog. Schon nach wenigen Wochen wurde ich der Hexerei bezichtigt. Wie es üblich war, holten die Büttel mich ab und brachten mich in den Kerker.
                    Ich denke nicht gern an diese Zeit zurück. Es gibt in der Stadt zwei Henker Steapa Snotor und Igor Worjaz. Während der eine daran Arbeitet mir ein Geständnis abzuringen, verarztet Igor Worjaz meinen von der Befragung zerschundenen Körper.
                    Auch wenn ich jede Schuld von mir wies, vollzog der Henker eine Hexenprobe. Ich weiß nicht, wie ich das überlebt habe, aber die Tatsache, dass ich es tat, reichte aus, um mich der Hexerei zu überführen.<br />
                    Nur wenige Stunden später wurde ich auf den Scheiterhaufen geführt. Entgegen ihrer üblichen Arbeitsweise stand Igor Worjaz und nicht Steapa Snotor vor mir am Scheiterhaufen.
                    Ich wurde am Pfahl festgebunden und kurz bevor der Scheiterhaufen enzündet wurde, wandte sich Igor an den Ratsherrn. Wir waren uns in der Zeit im Kerker näher gekommen, und jetzt wollte er von seinem Recht als Henker gebrauch machen.
                    Mit dem Einverständnis des obersten Ratsherrn und der Verurteilten ist es einem Henker erlaubt, eine zum Tode verurteilte Frau zu Heiraten. <br />
                    Ich stand also vor der Wahl, ob ich jetzt sterben wollte oder für den Rest meines Lebens als die Frau des Henkers, als Außgestoßene leben wollte. Die meisten Frauen würden den Tod wählen. Aber ich nicht. Ich wollte Leben.
                    <br /><br />
                    So bin ich ein Teil der Henkersfamilie geworden. Jetzt lebe ich als Ausgestoßene im Haus des Henkers und trage meinen Teil zum Familienunterhalt bei. Ich nähe Kleidung, die ich versuche auf dem Markt zu verkaufen.
                    Solche Verkäufe bringen leider nur wenig Geld ein, denn nur wenige Städter wollen Waren von den Henkern oder ihrer Familie kaufen, oder auch nur die eigenen Waren verkaufen.
                    <nav class="content-wrapper">
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("zurück", "AboutUsIndex", "AboutUs")<br />
                        </span>
                    </nav>
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>