@{
    ViewBag.Title = "PaterJudas";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    Der noch junge und naive Wanderprediger Judas entdeckte sehr früh seine Liebe zu Gott. Als
                    dritter Sohn einer Bauernfamilie stand er durch das tägliche Gebet schon von Geburt an in
                    Verbindung zum christlichen Glauben.
                    <br /> Seine aufgeweckte und neugierige Art trieb ihn nach
                    der Arbeit auf dem Feld immer wieder in die Kirche, wo er den Gottesdiensten beiwohnte, die
                    ansässigen Geistlichen mit Fragen überschüttete und sich letztendlich selbst, gegen den
                    Willen seines Vaters, der Kirche anschloss um dem Weg Gottes zu folgen. Schon während
                    seiner Lehre als Mönch bewies er Eifer und Selbstständigkeit. Da er in ärmlichen
                    Verhältnissen aufwuchs, war ein Leben in Askese war für ihn nie ein Problem. Nur mit seiner
                    Kutte bedeckt; seiner Bibel unter dem Arm und seinem Kreuz am Hals wuchs er im Kloster
                    zu einem jungen Mann heran, welcher stets Selbstlos und Hilfsbereit seinen Ordensbrüdern
                    und dem Volk Gottes zu diensten stand. Sein besonderes Interesse galt vor allem der
                    Bekehrung von Ungläubigen, aber auch an der Jagd auf Hexen beteiligte er sich ein ums
                    andere mal. Mit seinem Sakrament endete auch sein Leben bei seinen Glaubensbrüdern.
                    Getrieben von Eifer verlies er schon bald sein Kloster und seinen Orden um den Glauben
                    Gottes in die Welt zu tragen. Er erlebte auf seinen Wegen allerhand Abenteuer, begegnete
                    düsteren Gestalten und Ungläubigen, Gleichgesinnten und verlorenen Seelen.
                    So trug es sich zu, dass Judas eines Tages auf eine kleine Gruppe stieß. Die Galgenvegl zu
                    Chemnitz. Ein scheinbar bunt durcheinander gewürfelter Haufen aus Henkern, einer Hexe,
                    einer Dirne und anderen seltsamen anmutenden Gestalten. Für Judas war dies eine völlig neue
                    Erfahrung. Nachdem sie einige Zeit einen gemeinsamen Weg teilten, beschloss Judas sich der
                    Gruppe anzuschließen um all den Seelen der Verurteilten, welchen sie auf ihren Reisen
                    begegneten, beizustehen und auf dem Weg zu Gott zu begleiten.
                    <nav class="content-wrapper">
                        <span class="menu2" style="margin-right:50px">
                            @Html.ActionLink("zurück", "AboutUsIndex", "AboutUs")<br />
                        </span>
                    </nav>
                </p>
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>