@using BotDetect.Web.UI.Mvc;

@{
    //Lilo
    
}
@section styles {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

    @section featured {
        <section class="featured">
            <div class="content-wrapper">

                <form action="" method="post">
                    <hgroup class="title">
                        <h1>@ViewBag.Message</h1>
                    </hgroup>
                    <p>
                    <p id="pName">
                        <label for="tbName">Name: </label>
                        <input type="text" id="tbName" name="tbName" value="" />
                        <label id="EmptyName" class="field-validation-valid">Name ist erforderlich</label>
                    </p>
                    <p id="pEMail">
                        <label for="mbToEMail">E-Mail: </label>
                        <input type="email" id="mbToEMail" name="mbToEMail" value="" />
                        <label id="EmptyMailAdress" class="field-validation-valid">E-Mail ist erforderlich</label>
                        <label id="WrongMailAdress" class="field-validation-valid">Falsche E-Mail-Adresse (z.B. JemandesEMail@example.de)</label>
                    </p>
                    <p id="pTelefon">
                        <label for="telTel">Telefon (Angabe freiwillig): </label>
                        <input type="tel" id="telTel" name="telTel" value="" />
                    </p>
                    <p id="pSubject">
                        <label for="tbSubject">Betreff: </label>
                        <input type="text" id="tbSubject" name="tbSubject" value="" />
                        <label id="EmptySubject" class="field-validation-valid">Betreff ist erforderlich</label>
                    </p>
                    <p id="pMessage">
                        <label for="taMessage">Nachricht: </label>
                        <textarea name="taMessage" id="taMessage" col="5" rows="10" overflow="scroll" required></textarea>
                        <label id="EmptyMessage" class="field-validation-valid">Nachricht ist erforderlich</label>
                    </p>
                    <p>
                        @*Captcha einfügen*@
                        @*<div class="g-recaptcha" data-sitekey="6LdHHhMTAAAAAOSsp5QPOaKm9IsaUzQC9tYcJMkt"></div>*@
                        @{ MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha"); }
                        @Html.Captcha(sampleCaptcha)
                        @Html.TextBox("CaptchaCode")
                    </p>
                    <p>
                        <input type="button" id="tbSend" name="tbSend" value="Senden!" onclick="SendMail()" />
                        <input type="submit" id="Submit" value="Nachricht senden!" />
                    </p>
                </form>
            </div>
        </section>
    }

@section scripts {
    <script type="text/javascript">
        function ChangeClassToValid()
        {
            $("#EmptyName").addClass("field-validation-valid");
            $("#EmptyName").removeClass("field-validation-error");

            $("#EmptyMailAdress").addClass("field-validation-valid");
            $("#EmptyMailAdress").removeClass("field-validation-error");

            $("#WrongMailAdress").addClass("field-validation-valid");
            $("#WrongMailAdress").removeClass("field-validation-error");

            $("#EmptySubject").addClass("field-validation-valid");
            $("#EmptySubject").removeClass("field-validation-error");

            $("#EmptyMessage").addClass("field-validation-valid");
            $("#EmptyMessage").removeClass("field-validation-error");
        }

        function addSuccess(Result) {
            if (Result.result == true) {
                alert("E-Mail wurde versendet.");
            }
            else {
                var tmparray = Result.message.split(",");
                for (var i = 0; i < tmparray.length; i++) {
                    $("#" + tmparray[i]).addClass("field-validation-error");
                    $("#" + tmparray[i]).removeClass("field-validation-valid");
                }
            }
        }

        function addError(Result, status) {
            alert("Ein unbekanter Fehler ist aufgetreten.");
        }
        function SendMail() {
            var serviceURL = '/Contact/SendEMail';
            var dataobject = {
                Mail_Subject: document.getElementById("tbSubject").value,
                Mail_Message: document.getElementById("taMessage").value,
                Mail_Name: document.getElementById("tbName").value,
                Mail_Tel: document.getElementById("telTel").value,
                Mail_To: document.getElementById("mbToEMail").value
            }
            ChangeClassToValid();
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(dataobject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: addSuccess,
                error: addError
            });
        }
    </script>
}