@{
    //Lilo
    ViewBag.Title = "Kontakt";
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <form method="post" action="mailto:degalgenvegl@gmail.com">
                    <hgroup class="title">
                        <h1>@ViewBag.Message</h1>
                    </hgroup>
                    <p>
                    <p id="pName">
                        <label for="tbName">Name: </label>
                        <input type="text" id="tbName" name="tbName" value="" required />
                    </p>
                    <p id="pEMail">
                        <label for="mbToEMail">E-Mail: </label>
                        <input type="email" id="mbToEMail" name="mbToEMail" value="" required />
                    </p>
                    <p id="pTelefon">
                        <label for="telTel">Telefon (Angabe freiwillig): </label>
                        <input type="tel" id="telTel" name="telTel" value="" />
                    </p>
                    <p id="pSubject">
                        <label for="tbSubject">Betreff: </label>
                        <input type="text" id="tbSubject" name="tbSubject" value="" required />
                    </p>
                    <p id="pMessage">
                        <label for="taMessage">Nachricht: </label>
                        <textarea name="taMessage" id="taMessage" col="5" rows="10" overflow="scroll" required></textarea>
                    </p>
                    <form name="review" ACTION="newpg.html" METHOD="POST" onsubmit="return checkform(this);" required>
                        <font color="#DD0000">Enter Code ></font> <span id="txtCaptchaDiv" style="background-color:#A51D22;color:#FFF;padding:5px"></span>
                        <input type="hidden" id="txtCaptcha" />
                        <input type="text" name="txtInput" id="txtInput" size="15" />
                    </form>
                    <p>
                        <input type="submit" id="sbSend" name="sbSend" value="Senden!" onklick="return send_EMail(this);" />
                    </p>
                </form>
            </div>
        </section>
    }
    <script type="text/javascript">
        function checkform(theform){
            var why = "";
            if(theform.txtInput.value == ""){
                why += "- Security code should not be empty.\n";
            }
            if(theform.txtInput.value != ""){
                if(ValidCaptcha(theform.txtInput.value) == false){
                    why += "- Security code did not match.\n";
                }
            }
            if(why != ""){
                alert(why);
                return false;
            }
        }
        //Generates the captcha function
        var a = Math.ceil(Math.random() * 9)+ '';
        var b = Math.ceil(Math.random() * 9)+ '';
        var c = Math.ceil(Math.random() * 9)+ '';
        var d = Math.ceil(Math.random() * 9)+ '';
        var e = Math.ceil(Math.random() * 9)+ '';
        var code = a + b + c + d + e;
        document.getElementById("txtCaptcha").value = code;
        document.getElementById("txtCaptchaDiv").innerHTML = code;
        // Validate the Entered input aganist the generated security code function
        function ValidCaptcha(){
            var str1 = removeSpaces(document.getElementById('txtCaptcha').value);
            var str2 = removeSpaces(document.getElementById('txtInput').value);
            if (str1 == str2) {
                return true;
            } else {
                printf("Sie haben die Falsche Zahlenfolge eingegeben. Bitte versuchen Sie es nochmal.");
                return false;
                }
            }
            // Remove the spaces from the entered and generated code
            function removeSpaces(string){
            return string.split(' ').join('');
        }
    </script>
</body>
</html>