@{
    ViewBag.Title = "Der Henker als Heiler";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    Text einfügen: Der Henker als Heiler
                </p>
                @Html.ActionLink("Zurück", "RepresentationIndex", "Representation")
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
