@{
    ViewBag.Title = "Der Henker als Heiler";
}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>
        @ViewBag.Message;
    </title>
</head>
<body>
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>          
                    <strong> Niedriges Ansehen contra hervorragende Heilkunst</strong> 
                    <br /><br />
                    @*Der Henker lebte am Rande der Gesellschaft, durfte nur bedingt Wirtshäuser besuchen und wurde bei so manchem Gottesdienst ausgeschlossen. 
                    Aufgrund seines Berufes galt er als unsauber und unehrenhaft.*@ 
                    @*Trotz dessen galten sie*@ 
                    Obwohl die Henker ausgeschlossen am Rande der Gesellschaft lebten, galten sie als hervorragende Heiler, bei denen nicht nur die armen Leute, mit ihren Gebrechen vorsprachen, sondern auch Händler, Handwerker und sogar die feinen Ratsherren.
                    Aber wie kam das zu Stande? <br />
                    Die eigentlichen Mediziner dieser Zeit bezogen ihr Wissen aus alten Büchern, deren Autoren (z.B. Hippokrates oder Galenus) schon längst verstorben waren. 
                    Das praktische Lernen allerdings war bei ihnen verpönt.<br />
                    Anders die Henker. <br />
                    Schon von berufswegen mussten sie sich gut mit der Anatomie des menschlichen Körpers auskennen. 
                    Sie wollten ja schließlich nicht, dass die Angeklagten ihnen, bei der Folter von der Schippe sprangen, oder sich über und über mit Blut besudeln bei einer schlecht angesetzten Enthauptung. <br />
                    Aus diesen Grund nahmen die Henker die Leichen, von beispielsweise Gehängten, mit nach Hause und studierten ihre Anatomie. 
                    Mit diesem Wissen waren sie nicht nur in der Lage eine saubere Hinrichtung zu vollstrecken, sondern auch Brüche, Schnittwunden oder sogar Blinddarmentzündungen zu kurieren. <br />
                    All diese Erkenntnisse wurden von Generation zu Generation weiter gegeben. Über die Jahre kam das Wissen über die Wirkung verschiedener Kräuter hinzu. 
                    Daraus wurden dann Salben und Tinkturen für die verschiedensten Erkrankungen entwickelt.<br />
                    Auch die Veterinärmedizin machten sie sich im Laufe der Zeit zu eigen. <br />
                    Durch ihren Nebenerwerb als Abdecker oder Hundefänger kamen sie immer wieder zu Tierkadavern. 
                    Diese sezierten die Henker, genau wie die Leichname, und erlangten so fundiertes Wissen über verschiedene Krankheitsverläufe.
                    So wurden die Henker zu niedrig angesehenen Bürgern mit hervorragenden Heilkünsten, die bei den Menschen weit beliebter waren, als die der studierten Ärzte.

                    <br /><br /><br />
                    Quellen: <br />
                    http://www.stuttgarter-zeitung.de/inhalt.geschichte-die-henker-waren-auch-heiler.98bf4776-561d-41b0-bcd0-a62460830fa2.html
                    <br />
                    http://ptaforum.pharmazeutische-zeitung.de/index.php?id=2691
                    <br /><br />

                </p>
                <p>
                    @Html.ActionLink("Zurück", "RepresentationIndex", "Representation")
                </p>
                
            </div>
        </section>
    }
</body>
</html>
<script type="text/javascript">

</script>
