@{
    ViewBag.Title = "Der Henker als Foltermeister";
}

    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@ViewBag.Message</h1>
                </hgroup>
                <p>
                    Text: Der Henker als Folterer
                </p>
                <p>
                    @Html.ActionLink("Zurück", "RepresentationIndex", "Representation")
                </p>                
            </div>
        </section>
    }
